//height style
$h-100: 100vh;

// width
$w-15: 0.938rem;
$w-10: 0.625rem;

$font-size-15: 1.5rem;
$font-size-12: 0.75rem;
$font-weight-bold: bold;


// padding style
$p-15: 0.938rem;
$p-20: 1.25rem;
$p-60: 3.75rem;


// color 
$backgound: #111b21;
$logo: #5d5b8d;

// alignement 
$center : center;
